html, body {
	margin: 0;
	padding: 0;
	background-color: #ADD8E6;
}

#header {
	width: auto;
	padding: 1% 1% 3% 5%;
	background-color: #7484ec;
	box-shadow: 1px 3px 8px 1px lightgrey;
}

#header #title {
	font-family: "Open Sans", "Segoe UI";
	font-size: 150%;
	font-weight: lighter;
	color: white;
}

#logo {
	text-align: center;
	color: #244ba0;
	font-family: "Comic Sans MS";
	font-size: 40px;
	font-weight: bold;
}

body {
	font-family: 'Raleway', sans-serif;
}

table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: auto;
			text-align: center;
        }

td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
			background-color: white;
        }		

tr:nth-child(even) {
            background-color: #dddddd;
        }
		
form {
  border: 3px solid black;
  text-align: center;
  width: 500px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 1px;
  text-align: center;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}